- var topAboutSlider = 2

section.card-top
    section.top-about.top-about--learn
        h1 #{title}
        p #{descr}
        p #{descr2}
        p #{descr3}
        .descr-hidden
            p #{descr}
            p #{descr}
            p #{descr}
            p #{descr}
            p #{descr}
            p #{descr}
            p #{descr}
            p #{descr}
            p #{descr}
        a.read-more(href="javascript:void(0)") 
            span Читать подробнее
            span Скрыть